body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../img/back_pattern.png);
  font-family: 'Nobile', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
@font-face {
    font-family: 'TypoSlabserifLightRegular';
    src: url('../font/TypoSlabserif-Light-webfont.eot');
    src: url('../font/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TypoSlabserif-Light-webfont.woff') format('woff'),
         url('../font/TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('../font/TypoSlabserif-Light-webfont.svg#TypoSlabserifLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'TypoSlabserifLightRegular', Georgia, Times, serif;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
  background-color:rgba(255,255,255,0.3);
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  padding: 60px 15px;
  text-align: center;
  background-color: #52D8FF;
  color: #FFF;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  padding: 60px 0;
  background-color: #FFF;
}
.marketing p + h2 {
  margin-top: 28px;
}
/* Logo specific styles */
.masthead {
  background-color: #121B25;
  padding: 5px 10px 5px 24px;
}
.masthead ul.nav {
  margin-top: 14px;
}
.logopart1 {
  color: #52D8FF;
}
.logopart2 {
  color: #FFF;
}
.soclose {
  letter-spacing: -6px;
  font-weight: bold;
}
h3 {
  font-weight: normal;
  text-shadow: 2px 2px 4px #000;
}
h3 a:hover {
  text-decoration: none;
}
/* Navigation styles */
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #52D8FF;
}
/* Footer styles */
.footer {
  color: #EEE;
  padding: 20px 0 12px;
  text-align: center;
}
/* Form code */
iframe {
  height: 560px;
  margin-left: 40px !important;
}
a#foxyform_embed_link_47353 {
  display: none !important;
}
/* Fit when mobile */
@media (max-width: 480px) {
  h4, h5, h6, .jumbotron .btn, p.lead, a {
    font-size: 100%;
  }
  .jumbotron h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  p, h2 {
    padding: 0 10px;
  }
  p {
    font-size: 80%;
  }
  p.lead {
    line-height: 20px;
  }
  .marketing {
    padding: 15px 0;
  }
  .jumbotron {
    padding: 30px 15px;
  }
  .pull-right {
    float: none;
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  h4, h5, h6, .jumbotron .btn, p.lead, p {
    font-size: 110%;
  }
  .jumbotron h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 30px;
  }
  p, h2 {
    padding: 0 10px;
  }
  p {
    font-size: 90%;
  }
  p.lead {
    line-height: 20px;
  }
  .marketing {
    padding: 15px 0;
  }
  .jumbotron {
    padding: 30px 15px;
  }
}
@media (max-width: 360px) {
  h4, h5, h6, .jumbotron .btn, p.lead, a, p {
    font-size: 90%;
  }
  p.lead {
    display: none;
  }
  .jumbotron h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 14px;
    line-height: 20px;
  }
  p, h2 {
    padding: 0 7px;
  }
  p {
    font-size: 80%;
  }
  .marketing {
    padding: 15px 0;
  }
  .jumbotron {
    padding: 30px 15px;
  }
  .pull-right {
    float: none;
  }
}
/* IE 10 Fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  }
}
